.container {
  height: 200vh;
  height: 100vh;
  /* padding: 0 2rem; */
  
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.container > div {
  position: relative;
  scroll-snap-align: center;
}