.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.title {
  margin-top: 25vh;
  font-size: 3.5rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  width: 50rem;
}

@media (max-width: 55rem) {
  .title {
    margin-top: 20vh;
  }

  .description {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    width: 80%;
  }
}

@media (max-width: 25rem) {
  .title {
    margin-top: 10vh;
  }
}

.description a {
  color: #0070f3;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

.scroll {
  display: block;
  margin-top: 12vh;
  margin-bottom: 1.2vh;
}

.mobile {
   display: none;
}

@media (max-width: 80rem) {
  .scroll {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 4vh;
    margin-bottom: 1.2vh;
  }
}

@media (max-width: 25rem) {
  .mobile {
    width: 80%;
  }
}

.footer {
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 1.5vh 3vh;
  position: absolute;
  width: 100%;
}

.footer a {
  color: black;
  text-decoration: none;
}

@media (max-width: 55rem) {
  .footer {
    display: none;
  }
}